#user{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 8px;
    background:linear-gradient(#062ff9,#431475);
    color: #7925d3;
    max-width: 20rem;
}
img{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
}